* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body {
  background-color: #3E2A35;
  color: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90px 355px auto;
}

nav {
  display: grid;
  grid-column: 1 /span 2;
  grid-row: 1;
  grid-template-columns: 60% 40%
}

.left-side {
  grid-column: 1;
  grid-row: 1;
}

h1 {
  font-size: 40px;
  margin: 10px;
}

.camera {
  height: 35px;
  width: 46px;
}

.right-side {
  grid-column: 2;
  grid-row: 1;
}

.search-bar {
  border-radius: 5px 0 0 5px;
  border: 2px solid #C2B2B4;
  display: inline-block;
  height: 43px;
  margin: 4px 0;
  width: 90%;
}

.search {
  background-color: #C2B2B4;
  display:inline-block;
  border: 2px solid #C2B2B4;
  height: 43px;
  margin: 5px 0;
  border-radius: 0 5px 5px 0;
}

main {
  grid-column: 1 /span 2;
  grid-row: 2;
}

.create-card {
  color: #fff;
  grid-row: 2;
  height: 500px;
  margin: auto;
  width: 50%;
}

.title-label,
.caption-label {
  display: block;
  height: 20px;
  width: 100%;
}

.title-label {
  margin: 5px, auto 5px 2px;
}

.caption-label {
  margin: 20px auto 5px 2px;
}

.title-input,
.caption-input {
  border: 0;
  border-radius: 2px;
  display: block;
  height: 44px;
  width: 100%;
}

.caption-input {
  margin-bottom: 40px;  
}

button {
  background-color: #5B4447;
  border-radius: 2px;
  border: 0;
  color: #fff;
  font-size: .90em;
  margin-top: 25px;
}

button:Hover {
  background-color: #938284;
}

.inputfile {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.inputfile + label {
  background-color: #5B4447;
  border-radius: 2px;
  display: block;
  cursor: pointer;
  height: 44px;
  margin: 20px 0;
  padding-top: 13px;
  text-align: center;
  width: 100%;
}

.inputfile + label:hover {
  background-color: #938284
}

.view-favorites,
.add-to-album {
  display: inline-block;
  height: 40px;
  width: 45%;
}

.view-favorites {
  margin-right: 9%;
}

section {
  background-color: #C2B2B4;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 /span 2;
  grid-row: 3;
  padding: 85px;
  padding-top: 0;
}

.photo-card {
  background-color: #fff;
  border: 1px solid #3E2A35;
  color: #3E2A35;
  display: grid;
  grid-template-rows: 54px 125px 80px 42px;
  height: 300px;
  margin: 30px;
  width: 235px;
}

h2 {
  grid-row: 1;
  margin: 5px;
}

.insert-photo {
  grid-row: 2;
  width: 100%;
  height:100%;
}

p {
  grid-row: 3;
  margin: 5px;
}

div {
  display: flex;
  width: 235px;
}

.trash-love {
  background-color: #5B4447;
  grid-row: 4;
  padding: 7px;
}

.delete-button {
  height: 28px;
  margin-right: 155px;
  width: 21px;
}

.favorite-button {
  height: 28px;
  width: 24px;
}