* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body {
  background-color: #3E2A35;
  color: #fff;
  display: grid;
  grid-template-rows: 90px 355px auto;
  grid-template-columns: 50% 50%;
}

nav {
  display: grid;
  grid-row: 1;
  grid-column: 1 /span 2;
  grid-template-columns: 50% 50%
}

.left-side {
  grid-column: 1;
  grid-row: 1;
}

h1 {
  font-size: 40px;
   margin: 10px;
}

.camera {
  height: 35px;
  width: 46px;
}

.right-side {
  grid-column: 2;
  grid-row: 1;
}

.search-bar {
  border-radius: 5px;
  float: right;
  margin: 5px;
  height: 43px;
  width: 65%;
}

main {
  grid-row: 2;
  grid-column: 1 /span 2;
}

form {
  color: #fff;
  grid-row: 2;
  height: 500px;
  width: 50%;
  margin: auto;
}

.title-label {
  width: 100%;
  height: 20px;
  display: block;
  margin: 5px, auto 5px 2px;
}

.title-input {
  width: 100%;
  height: 44px;
  display: block;
  border-radius: 2px;
}

.caption-label {
  width: 100%;
  height: 20px;
  display: block;
  margin: 20px auto 5px 2px;
}

.caption-input {
  width: 100%;
  height: 44px;
  display: block;
  border-radius: 2px;
}

button {
  border: 0;
  border-radius: 2px;
  color: #fff;
  background-color: #5B4447;
}

.choose-file {
  width: 100%;
  height: 44px;
  display: block;
  margin: 40px 0;
}

.view-favorites,
.add-to-album {
  width: 45%;
  height: 40px;
  display: inline-block;
}

.view-favorites {
  margin-right: 9%;
}

section {
  background-color: #C2B2B4;
  grid-row: 3;
  grid-column: 1 /span 2;
  display: flex;
  flex-wrap: wrap;
  padding: 85px;
  padding-top: 0;
}

.photo-card {
  display: grid;
  grid-template-rows: 54px 125px 80px 42px;
  background-color: #fff;
  color: #3E2A35;
  height: 300px;
  width: 235px;
  margin: 30px;
  border: 1px solid #3E2A35;
}

h2 {
  grid-row: 1;
  margin: 5px;
}

.insert-photo {
  grid-row: 2;
}

p {
  grid-row: 3;
  margin: 5px;
}

div {
  display: flex;
  width: 235px;
}

.trash-love {
  background-color: #5B4447;
  grid-row: 4;
  padding: 7px;
}

.delete-button {
  height: 28px;
  width: 21px;
  margin-right: 155px;
}

.favorite-button {
  height: 28px;
  width: 24px;
}